<div class="main-container">
    <header class="header-4">
        <div class="branding">
            <a class="nav-link">
                <clr-icon shape="display"></clr-icon>
                <span class="title">DevOps Portal</span>
            </a>
        </div>
        <div class="header-actions">
            <button class="nav-icon"><img src="app/resources/India.png" alt=""> </button>
            <button class="nav-icon"><i class="material-icons">aspect_ratio</i></button>
            <button class="nav-icon"><i class="material-icons">notifications</i></button>
            <button class="nav-icon"><i class="material-icons">chat</i></button>
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                <span class="nav-button"><i class="material-icons">person</i><i class="material-icons">keyboard_arrow_down</i></span>
            </button>
                <div class="dropdown-menu">
                    <a clrDropdownItem>About</a>
                    <a clrDropdownItem>Preferences</a>
                    <a clrDropdownItem>Log out</a>
                </div>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <a href="..." class="card clickable">
                        <div class="card-block">
                            <p class="card-text">
                                ...
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <a href="..." class="card clickable">
                        <div class="card-block">
                            <p class="card-text">
                                ...
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <a class="nav-link"><i class="material-icons">dashboard</i></a>
                <a class="nav-link"><i class="material-icons">view_carousel</i></a>
                <a class="nav-link"><i class="material-icons">email</i></a>
                <a class="nav-link"><i class="material-icons">today</i></a>
                <a class="nav-link"><i class="material-icons">invert_colors</i></a>
                <a class="nav-link"><i class="material-icons">palette</i></a>
                <a class="nav-link"><i class="material-icons">library_add</i></a>
                <a class="nav-link"><i class="material-icons">widgets</i></a>
                <a class="nav-link"><i class="material-icons">grid_on</i></a>
                <!--<a class="nav-link">Nav Element 2</a>
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">Collapsible Nav</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
                <section class="nav-group">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">Default Nav Element</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                        <li><a class="nav-link">Link 3</a></li>
                        <li><a class="nav-link">Link 4</a></li>
                        <li><a class="nav-link">Link 5</a></li>
                        <li><a class="nav-link">Link 6</a></li>
                    </ul>
                </section>-->
            </section>
        </nav>
    </div>
</div>