<div class="main-container">
    <header class="header-4">
        <div class="branding">
            <a class="nav-link">
                <clr-icon shape="display"></clr-icon>
                <span class="title">DevOps Portal</span>
            </a>
        </div>
        <div class="header-actions">
            <button class="nav-icon"><img src="app/resources/India.png" alt=""> </button>
            <button class="nav-icon"><i class="material-icons">settings_overscan</i></button>
            <button class="nav-icon"><i class="material-icons">notifications</i><span class="badge badge-danger">3</span></button>
            <button class="nav-icon"><i class="material-icons">chat</i></button>
            <button class="nav-icon" name="sideBarToggle" (click)="toggleSideBar()"><i class="material-icons">person</i><i class="material-icons">keyboard_arrow_down</i></button>
        </div>
    </header>
    <div class="content-container" id="wrapper">
        <div class="content-area">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <div class="row sidebar-brand">
                        <div class="col-md-5"><img class="img-circle" src="app/resources/myPic.png"></div>
                        <div class="col-md-7 user">Chirag Sane, Administrator</div>
                    </div>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Shortcuts</a></li>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div id="trapezoid" (click)="toggleProject()">Select Project</div>
                <div id="content">
                    <clr-stack-view>
                        <clr-stack-block>
                            <clr-stack-label>Information Technology</clr-stack-label>
                            <clr-stack-block>
                                <clr-stack-label>Location Airoli</clr-stack-label>
                                <clr-stack-block>
                                    <clr-stack-label class="level3">BU Digital</clr-stack-label>
                                    <clr-stack-block>
                                        <clr-stack-label class="level4">Manager<br><span class="manager_name">Vijay Kumar</span></clr-stack-label>
                                    </clr-stack-block>
                                    <clr-stack-block>
                                        <clr-stack-label class="level4">Manager<br><span class="manager_name">Hemant Chauhan</span></clr-stack-label>
                                    </clr-stack-block>
                                    <clr-stack-block>
                                        <clr-stack-label class="level4">Manager<br><span class="manager_name">Rahul Punjabi</span></clr-stack-label>
                                    </clr-stack-block>
                                </clr-stack-block>
                            </clr-stack-block>
                            <clr-stack-block>
                                <clr-stack-label>Location Powai</clr-stack-label>
                            </clr-stack-block>
                        </clr-stack-block>

                        <clr-stack-block>
                            <clr-stack-label>Automation</clr-stack-label>
                        </clr-stack-block>

                        <clr-stack-block>
                            <clr-stack-label>Insurance</clr-stack-label>
                        </clr-stack-block>
                    </clr-stack-view>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <a class="card clickable">
                                        <div class="card-block">
                                            <p class="card-text">
                                                Project Type
                                                <canvas baseChart [datasets]="ChartData" [labels]="ChartLabels" [options]="ChartOptions" [colors]="ChartColors" [legend]="ChartLegend" [chartType]="ChartType"></canvas>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <a class="card clickable">
                                        <div class="card-block">
                                            <p class="card-text">
                                                <br>
                                                <canvas baseChart [datasets]="ChartData" [labels]="ChartLabels" [options]="ChartOptions" [colors]="ChartColors" [legend]="ChartLegend" [chartType]="ChartType"></canvas>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Simple Sidebar 1</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On
                                small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Simple Sidebar 2</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On
                                small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Simple Sidebar 3</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On
                                small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Simple Sidebar 4</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On
                                small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Simple Sidebar 5</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On
                                small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <a class="nav-link"><i class="material-icons">dashboard</i></a>
                <a class="nav-link"><i class="material-icons">view_carousel</i></a>
                <a class="nav-link"><i class="material-icons">email</i></a>
                <a class="nav-link"><i class="material-icons">today</i></a>
                <a class="nav-link"><i class="material-icons">invert_colors</i></a>
                <a class="nav-link"><i class="material-icons">palette</i></a>
                <a class="nav-link"><i class="material-icons">library_add</i></a>
                <a class="nav-link"><i class="material-icons">widgets</i></a>
                <a class="nav-link"><i class="material-icons">grid_on</i></a>
                <!--<a class="nav-link">Nav Element 2</a>
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">Collapsible Nav</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
                <section class="nav-group">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">Default Nav Element</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                        <li><a class="nav-link">Link 3</a></li>
                        <li><a class="nav-link">Link 4</a></li>
                        <li><a class="nav-link">Link 5</a></li>
                        <li><a class="nav-link">Link 6</a></li>
                    </ul>
                </section>-->
            </section>
        </nav>
    </div>
</div>